
{% extends "base.html" %}
{% block body %}
<div>
    <h2>About us</h2>
    <p>
      This is an agriculture Market Dashboard by Mohammad Kamal, Mayur Solanki, and Vedant Raval as a project of the Database Management course (course id: COL362) at IIT Delhi. 
    </p>
    
    <p>
    We have implemented a system that would make use of the Information about the prices of the Agricultural Commodities in markets across different regions in India and provide certain meaningful insights along the following aspects:
    </p>
    
    <ol>
	  <li>Price trends for various commodities across these different regions and markets so that the user can infer the trends and make use ofthe speculated predictions from these trends while making a decision about farming certain crops, selling them in certain markets etc.</li>
	  <li>Optimal locations for the user to sell the commodity grown by them based on the price trends and distance based costs, so that the user can get the maximum profit for the product grown</li>
	</ol> 

	<p>
	Thus because of such functionalities of this system, it would be extremely useful for the users to get useful insights that would influence their decisions taken during the entire process of farming the crops to selling them.
	</p>
</div>
{% endblock %}
