{% extends "base.html" %}
{% block body %}
<div>
    <h2>Agriculture Market Dashboard</h2>
    <!-- p>
    	lorem ipsum
    </p> -->
    <p>
    	This web application helps farmer to observe price trends for different commodities all over India.
    	It also has the features to recommend market to the farmer where the farmer can sell crops to maximise his profits. The recommendation system uses complex algorithms based on previous years trends and the farmer current location to suggest best markets to the user. The user can also add prices of the market in add entries page. 
    </p>
    Search a variety of information <a href="search">here</a>
    <br>
    Get suggestions for the Market <a href="market">here</a>
    <br>
    Add new Entires <a href="add">here</a>
    
</div>
{% endblock %}
