{% extends "base.html" %}
{% block body %}
<div>
    <h2>Search</h2>
    <!-- p>
    	lorem ipsum
    </p> -->

    <!-- Search Commodity <a href="search_commodity">here</a> -->

    <br>
    Get year-wise price trend for a particular commodity at your location:  <a href="search_year">here</a>
    <br>

    Location-wise price trend for a given commodity: <a href="search_location">here</a>
    <br>

    Search Records for a particular market: <a href="search_record">here</a>

    <!-- Add new Entires <a href="add">here</a> -->
    
</div>
{% endblock %}
